<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Admin - Vue Demo</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/admin.css">
</head>
<body>
	<div id="app" class="flex flex-row page">
		<header class="flex flex-middle page-header">
			<h1>Vue Demo</h1>
		</header>
		<main class="flex-fill flex page-body">
			<div class="flex flex-row tabs">
				<ul class="tabs-header" @click.stop="toggleTab">
					<li :class="['tabs-tab', {'active': selectedView == tab.view}]" v-for="(tab, idx) in tabs" :data-view="tab.view">{{tab.title}}</li>
				</ul>
				<div class="flex-fill tabs-body">
					<component :is="selectedView" keep-alive></component>
				</div>
			</div>
		</main>
		<footer class="flex flex-middle flex-center page-footer">
			footer
		</footer>
	</div>

	<template id="grid_category">
		<div class="data-grid">
			<table>
				<thead>
					<tr>
						<th>名称</th><th>图标</th><th>备注</th><th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(row, idx) in rows">
						<td>{{row.name}}</td>
						<td>{{row.cls}}</td>
						<td>{{row.desc}}</td>
						<td class="action" @click="doAction(idx, $event)">
							<button class="text" data-action="update">编辑</button>
							<button class="text" data-action="delete">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="toolbar">
				<button class="primary" style="padding: auto 5em;" @click="onCreate">新建</button>
			</div>
			<com-category-editor ref="editor" :mode="mode" :title="title" :item="item" @save="onSave"></com-category-editor>
		</div>
	</template>
	<template id="editor_category">
		<dialog>
			<form @submit.prevent="onSubmit">
				<header class="flex flex-middle dialog-header">
					<span class="flex-fill dialog-title">{{ title }}</span>
					<button type="button" class="dialog-close" @click="onClose">X</button>
				</header>
				<section class="flex-fill dialog-body">
					<div>
						<label class="title">名称</label>
						<input type="text" required v-model="item.name">
					</div>
					<div>
						<label class="title">图标</label>
						<input type="text" required v-model="item.cls">
					</div>
					<div>
						<label class="title">备注</label>
						<input type="text" required v-model="item.desc">
					</div>
				</section>
				<footer class="dialog-footer">
					<button type="submit" class="primary">确定</button>
					<button type="button" @click="onClose">取消</a>
				</footer>
			</form>
		</div>
	</template>
	<template id="tpl_tag">
		<div>
			wo is tag
		</div>
	</template>
	<template id="tpl_article">
		<div>
			wo is article
		</div>
	</template>

	<script src="./js/thirdparty/vue.js"></script>
	<script src="./js/thirdparty/vue-resource.js"></script>
    <!--<script src="https://cdn.bootcss.com/vue/2.0.1/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>-->
    <script type="text" src="./js/admin.js"></script>
	<script>
		'use strict';
		var webApi = function(uri, method, opts){
			if(!uri){
				return;
			}
			method = (method || 'get').toLowerCase();
			let req = Vue.http,
				url = 'https://api.mlab.com/api/1/databases/blogs/collections/{uri}?apiKey=DgJNWWsp8hW5AirXH6q6APHu_rRkLIbM'.replace('{uri}', uri);
			switch(method){
				case 'post':
					if(!opts.body){
						return;
					}
					return req.post(url, JSON.stringify(opts.body));
				default:
					return req.get(url);
			}
		}
		var categories = [],
			com_category = {
			template: '#grid_category',
			data: function(){
				return {
					mode: 0,
					title: '',
					item: {},

					rows: categories
				}
			},
			methods: {
				doAction: function(idx, e){
					console.log(idx, e)
					let me = this;
					if(idx === null){
						webApi('categories', 'post', {body: {name: new Date(), cls:'html', desc:'html5'}}).then(function(res){
							me.rows.push(res.data);
						}).catch(function(err){
							console.error(err);
						});
						return;
					}
					let target = e.target || e.srcElement,
						action = target.dataset['action'];
					if(!action){
						return;
					}
					let item = JSON.parse(JSON.stringify(me.rows[idx]));
					switch(action){
						case 'edit':
							item.name += item.name;
						break;
					}
						 
					console.log(action, idx, me.rows[idx])
				},
				onCreate: function(){
					this.mode = 1;
					this.title = '新建';
					this.item = {};
					this.$refs.editor.onOpen();
				},
				onSave: function(){
					this.rows.push(this.item);
					this.$refs.editor.onClose();
				}
			},
			mounted: function(){
				return;
				if(this.rows.length < 1){
					let me = this;
					webApi('categories', 'get').then(function(res){
						me.rows = res.data;
					}).catch(function(err){
						alert('error', err);
					});
					//this.rows = [{_id: {$oid: 1}, name: 'js', cls: 'js', desc: 'javascript'}];
				}
			},
			components: {
				'com-category-editor': {
					template: '#editor_category',
					data: function(){
						return { show: false }
					},
					props: ['open', 'mode', 'title', 'item'],
					methods: {
						onOpen: function(){
							this.$el.showModal();
						},
						onClose: function(){
							this.$el.close();
						},
						onSubmit: function(){
							this.$emit('save');
						}
					}
				}
			}
		};
		var com_tag = {
			template: '#tpl_tag'
		};
		var com_article = {
			template: '#tpl_article'
		};

		var vm = new Vue({
			el: '#app',
			data: {
				tabs: [{
					title: '分类管理',
					view: 'com-category'
				}, {
					title: '标签管理',
					view: 'com-tag'
				}, {
					title: '文章管理',
					view: 'com-article'
				}],
				selectedView: 'com-category'
			},
			components: {
				'com-category': com_category,
				'com-tag': com_tag,
				'com-article': com_article
			},
			methods: {
				toggleTab: function(e){
					let target = e.target;
					if(!target.classList.contains('tabs-tab')){
						return;
					}
					target = target.dataset.view;
					if(target === this.selectedView){
						return;
					}
					this.selectedView = target;
					console.log()
				}
			}
		});
		/*
		var vm = new Vue({
			el: '#app',
			data: {
				tabsSelected: 0,
				dsCategority: [],
				dsTag: [],
				dsArticle: []
			},
			methods: {
				toggleTab: function(e){
					var target = e.target || e.srcElement;
					if(target.tagName.toLowerCase() !== 'li'){
						return;
					}
					var idx = (target.dataset ? target.dataset.idx : target.getAttribute('data-idx')) | 0;
					this.tabsSelected = idx;
					if(idx === 0){
						this.$http.get('https://api.mlab.com/api/1/databases/blogs/collections/categories?apiKey=DgJNWWsp8hW5AirXH6q6APHu_rRkLIbM').then(function(res){
							var data = res.data;
							vm.dsCategority = data;
						}).catch(function(err){
							console.error(err);
						});
					}
				}
			}
		});
		*/
	</script>
</body>
</html>