			<!--<div class="tabs">
				<ul class="tabs-header" @click="toggleTab">
					<li class="" data-idx="0" :class="['tabs-tab', {active: tabsSelected == 0}]">类别管理</li>
					<li class="tabs-tab" data-idx="1" :class="{active: tabsSelected == 1}">标签管理</li>
					<li class="tabs-tab" data-idx="2" :class="{active: tabsSelected == 2}">文章管理</li>
				</ul>
				<div class="tabs-body">
					<div class="tabs-panel" :class="{active: tabsSelected == 0}">
						<table>
							<thead>
								<tr>
									<th>名称</th>
									<th>图标</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in dsCategority">
									<td>{{item.name}}</td>
									<td>{{item.cls}}</td>
									<td>
										<button data-cmd="edit" :data-id="item._id.$oid">编辑</button>
										<button>删除</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="toolbar">
							<button>增加</button>
							<button>编辑</button>
							<button>删除</button>
						</div>
					</div>
					<div class="tabs-panel" :class="{active: tabsSelected == 1}">标签内容</div>
					<div class="tabs-panel" :class="{active: tabsSelected == 2}">文章内容</div>
				</div>
			</div>-->